<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="CSS/estilos.css">
	<title>Tienda</title>
</head>
<body>

	<div id="app">

		<div class="titulo__encabezado">
			<h1>ELEMENTOS</h1>
		</div>

		<div class="contenedor__elementos">
			
			<div class="contenedor__imagen">
				<img class="imagen__carro" src="img/carro.jpg" alt="">
				<input v-on:click="mostrarCarros()" type="submit" value="Ver Elementos">
			</div>

			<div class="contenedor__imagen">
				<img class="imagen__moto" src="img/moto.jpg" alt="">
				<input type="submit" value="Ver Elementos">
			</div>

		</div>		

		<div v-if="mostrarListaCarros == true" class="lista__carros">
			
			<h1 class="titulo__tabla">LISTA DE CARROS</h1>
			<table class="tabla__elementos">
				<tr>
					<th class="titulo__encabezado--table">ID</th>
					<th class="titulo__encabezado--table">MARCA</th>
					<th class="titulo__encabezado--table">COLOR</th>
					<th class="titulo__encabezado--table">COSTO</th>
				</tr>

				<tr v-for="lista of listaCarros">
					<td class="valor__fila"> {{lista.id}} </td>
					<td class="valor__fila"> {{lista.marca}} </td>
					<td class="valor__fila"> {{lista.color}} </td>
					<td class="valor__fila"> {{lista.costo}} </td>
				</tr>

			</table>

			<input v-on:click="comprarCarro()" class="btn__comprar" type="submit" value="Comprar">
			<!-- <ul v-for="lista of listaCarros" class="lista">
				<li> Marca:  {{lista.marca}} Costo:  {{lista.costo}}</li>
			</ul> -->
		</div>
		
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script src="JS/funcion.js"></script>
	
</body>
</html>